li {
    list-style: none;
}

.App {
    width: 100vw;
    height: 100vh;
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}
.App-header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.options {
    display: flex;
}

.option {
    font-size: 16px;
    min-width: 120px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0 5px;
    cursor: pointer;
    text-align: center;
}

.option:hover {
    background-color: antiquewhite;
}

.icons {
    align-items: center;
    display: flex;
    justify-content: center;
}
.icon {
    margin-right: 40px;
    width: 25px;
}
